{% extends 'core/base.html' %}

{% block content %}
<div class="container mt-5">
    <h1>Your Expenses</h1>
    <a href="{% url 'expenses:expense_add' %}" class="btn btn-success mb-3">Add Expense</a>
    <a href="{% url 'expenses:category_list' %}" class="btn btn-primary mb-3">Categories</a>
    <a href="{% url 'expenses:budget_list' %}" class="btn btn-primary mb-3">Budgets</a>
    <table class="table">
        <thead>
            <tr>
                <th>Category</th>
                <th>Amount</th>
                <th>Description</th>
                <th>Date</th>
                <th>Remaining Budget</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for expense in expenses %}
            <tr class="{% if expense.remaining_budget < 0 %}table-danger{% endif %}">
                    <td>{{ expense.category }}</td>
                    <td>{{ expense.amount }}</td>
                    <td>{{ expense.description }}</td>
                    <td>{{ expense.date }}</td>
                    <td>
                        {% if expense.remaining_budget is not None %}
                            {{ expense.remaining_budget }}
                        {% else %}
                            No Budget Set
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'expenses:expense_detail' expense.pk %}" class="btn btn-sm btn-info">More Info</a>
                        <a href="{% url 'expenses:expense_update' expense.pk %}" class="btn btn-sm btn-warning">Edit</a>
                        <a href="{% url 'expenses:expense_delete' expense.pk %}" class="btn btn-sm btn-danger">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}