<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Variable html</h1>
    <ul>
    {% for item in some_list %}
        <li>{{item}}</li>
    {% endfor %}
    </ul>


    <h2>First name: {{first_name | upper}}</h2>
    <h2>First name: {{first_name | length}}</h2>
    <h2>First name: {{first_name | lower | capfirst}}</h2>

    {% comment %} Filters https://docs.djangoproject.com/en/5.1/ref/templates/builtins/#built-in-filter-reference {% endcomment %}
    <h2>{{some_list.0}}</h2>
    <h2>{{some_dict.inside_key}}</h2>
</body>
</html>